* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100vw;
  background: rgb(234,232,231);
}

.btn {
  padding: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 40px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.329);
  background: white;
  color: black;
  text-align: center;
}

.btn:hover {
  font-size: 1.6rem;
  background: rgb(52, 57, 63);
  color: white;
}

img{
  width: 100%;
}

/* NAVBAR */
nav{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(52, 57, 63, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 5;
}

.nav-left{
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  flex-direction: row;
}

.nav-left h3{
  margin-left: 20px;
  color: white;
  font-size: 1.7rem;
}

.nav-right{
  grid-column: 10/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav-right a{
  text-decoration: none;
  color: white;
  margin: 10px 10px;
  font-size: 1.2rem;
}

.nav-right a:hover{
  color: black;
  font-size: 1.5rem;
}

.nav-img{
  background: url('../imgs/profile-img.png');
  background-position: center;
  background-position: center;
  border-radius: 90px;
  height: 50px;
  width: 50px;
}

/* HOME PAGE */
.home{
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  font-family: 'Source Code Pro', monospace;
  position:relative;
}

#video-bg {
  position: absolute; 
  top: 0; left:0;
  width: 100%; height: 100%; 
  z-index: -1;
}    

.home h1{
  font-size: 7rem;
  margin-bottom: 50px;
}

.home h3{
  font-size: 3rem;
  margin-bottom: 10px;
}

.home h4{
  font-size: 2rem;
  margin-bottom: 170px;
}

.btn-home{
  color: white;
  background:black;
  box-shadow: 1px 1px 1px white;
}

.btn-home:hover{
  background: white;
  color: black;
  box-shadow: 1px 1px 1px black;
}

/* BIOGRAFIJA */
.biografija{
  display: grid;
  grid-template-columns: repeat(36,1fr);
}

.bio-left{
  height: 100%;
  width: 100%;
  background: rgb(52, 57, 63);
  color: white;
  grid-column: 2/10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  padding: 30px;
}

.bio-main{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio-main h4{
  margin: 20px 0;
  text-align: center;
  font-size: 1.8rem;
  font-family: 'Baloo Da 2', cursive;
}

.bio-about p{
  margin: 20px 0;
  text-align: left;
}

.bio-right{
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  grid-column: 11/-2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel{
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  background: white;
  color: rgb(119,115,114);
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  margin: 20px 0;
}

.panel h2{
    font-size: 2rem;
    margin-bottom: 50px;
    font-family: 'Baloo Da 2', cursive;
}

.panel div{
  font-size: 1.3rem;
}

.panel div a{
  text-decoration: none;
  color: rgb(144, 138, 136);
  font-style: italic;
}

.panel div h6{
  color: rgb(52, 57, 63);
  margin: 5px 0;
}

.panel div a:hover{
  text-decoration: underline;
  color: rgb(0, 0, 0);
  font-style: italic;
}

.panel div hr{
  margin: 10px 0;
}

.panel .skills{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.panel .skills .skill{
  margin: 0 15px;
  font-size: 0.8rem;
}

.panel .skills .skill h3{
  margin: 10px 0;
}

.panel .skills .skill h4{
  font-size: 1.5rem;
}

.panel .projects{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* GITHUB PANEL */
.github-project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-gap: 10px;
  padding: 10px;
  grid-template-rows: 3;
  background: rgb(36, 41, 46);
  border-radius: 40px;
  color: white;
  box-shadow: 10px 5px 5px rgb(52, 57, 63);
  width: 100%;
  height: 400px;
  margin: 20px 20px;
}

.github-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.github-header h2 {
  background: white;
  color: black;
  border-radius: 40px;
  text-align: center;
  padding: 5px;
  margin-left: 10px;
}

.github-header p {
  font-size: 1.5rem;
}

.github-language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px;
  height: 30%;
}

.github-language i {
  display: inline;
  margin-right: 10px;
}

.github-btn:hover {
  font-size: 1.5rem;
  color: white;
}

.skill-trio{
  display: flex;
  flex-direction: row;
}

/* CONTACT */
.contact-me{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}

.contact-right{
  width: 40%;
  border: 1px dashed black;
  padding: 20px;
}

.contact-me .contact-header h2, .contact-me .contact-header h3{
  font-family: 'Baloo Da 2', cursive;
  font-size: 3rem;
  color: rgb(77, 79, 102);
}

.contact-me .contact-header h3{
  font-size: 2rem;
}

.contact-text{
  font-size: 1.3rem;
  margin: 50px 0;
  text-align: center;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-network{
  text-align: center;
  margin: 0 20px;
}

.social-network a{
  text-decoration: none;
  color: black;
}

.social-network:hover{
  font-weight: bold;
  font-size: 1.2rem;
}

.form-group{
  margin: 10px 0;
}

/* FOOTER */
footer{
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  text-align: center;
  background: rgb(52, 57, 63);
  color: white;
  padding: 20px;
}

/* ---------- */
/* RESPONSIVE */
/* ---------- */
@media only screen and (max-width: 1400px) {

  nav{
    font-size: 0.8rem;
    text-align: center;
  }

  .skill-trio{
    flex-direction: column;
  }

  .panel .projects{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .github-project {
    height: 300px;
  }
}

@media only screen and (max-width: 1000px) {

  nav{
    font-size: 0.8rem;
    text-align: center;
  }

  .bio-main div{
    text-align: left;
  }

  .biografija{
    grid-template-columns: repeat(1,1fr); 
  }

  #myphoto{
    width: 30%;
  }

  .biografija{
    padding: 30px;
  }
}

@media only screen and (max-width: 600px) {

  nav{
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  .home{  
      background: url('../imgs/bg-home.jpg');
      background-position: center;
      background-size: cover;
      position:relative;
      color: black;
      text-align: center;
  }

  .home h1{
    font-size: 3rem;
    margin-bottom: 30px;
  }
  
  .home h3{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .home h4{
    font-size: 1rem;
    margin-bottom: 100px;
  }

  .biografija{
    width: 100%;
    padding: 0;
  }

  .nav-left{
    flex-direction: row;
  }
 
  .nav-left h3{
    margin-left: 0px;
  }
  
  .nav-right{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .nav-right a{
    margin: 10px 0;
  }

  .biografija{
    grid-template-columns: repeat(1,1fr); 
  }

  .contact-me{
   flex-direction: column;
   padding: 10px;
  }

  .contact-left{
    width: 100%;
  }
  
  .contact-right{
    width: 100%;
    border: none;
  }

  .skills{
    flex-direction: column;
  }

  #long-header-text{
    font-size: 1rem;
  }

  .skill{
    margin: 0;
  }

  .github-project{
    margin: 10px 0;
    width: 80%;
  }

  .github-header h2{
    font-size: 1rem;
  }

  .github-language p{
    font-size: 0.8rem;
  }

  .contact-header{
    text-align: center;
  }
}

